@model TgiApplications.Models.Coupon
@{
    ViewBag.Title = "Edit Coupon";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>

    .backgroundWhite {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .backgroundWhiteBorder {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        border: 1px solid #ddd;
    }

    .backgroundWhiteBorder10Padding {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
    }

    .menu-filter-list li {
        display: inline-block;
        cursor: pointer;
        padding: 10px 20px 10px;
        text-transform: uppercase;
        background: #f5f5f5;
        border-radius: 5px;
        font-weight: 700;
        font-size: 13px;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        font-family: "Poppins",sans-serif;
    }

        .menu-filter-list li.is-checke, .menu-filter-list li:hover {
            background-color: #545b62;
            color: #fff;
        }
</style>
@using (Html.BeginForm("EditCoupon", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="border backgroundWhite">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group row">
        <div class="col-2">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "text-info font-weight-bold" })
        </div>
        <div class="col-5">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.HiddenFor(model => model.Id)
        </div>
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group row">
        <div class="col-2">
            @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "text-info font-weight-bold" })
        </div>
        <div class="col-5">
            <input type="file" id="projectImage" name="files" multiple class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            @Html.LabelFor(model => model.CouponType, htmlAttributes: new { @class = "text-info font-weight-bold" })
        </div>
        <div class="col-5">
            @Html.EditorFor(model => model.CouponType, new { htmlAttributes = new { @class = "form-control" } })

        </div>
        @Html.ValidationMessageFor(model => model.CouponType, "", new { @class = "text-danger" })
    </div>
    <div class="form-group row">
        <div class="col-2">
            @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "text-info font-weight-bold" })
        </div>
        <div class="col-5">
            @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })

        </div>
        @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
    </div>
    <div class="form-group row">
        <div class="col-2">
            @Html.LabelFor(model => model.MinimumAmount, htmlAttributes: new { @class = "text-info font-weight-bold" })
        </div>
        <div class="col-5">
            @Html.EditorFor(model => model.MinimumAmount, new { htmlAttributes = new { @class = "form-control" } })

        </div>
        @Html.ValidationMessageFor(model => model.MinimumAmount, "", new { @class = "text-danger" })
    </div>
    <div class="form-group row">
        <div class="col-2">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "text-info font-weight-bold" })
        </div>
        <div class="col-5">
            @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-check-input mx-1" } })

        </div>
        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <a href="/Admin/Coupon" class="btn btn-success form-control">Back to List</a>
        </div>
        <div class="col-md-6">
            <input type="submit" value="SUBMIT" class="btn btn-dark form-control" />
        </div>
    </div>
</div>
}

