@model IEnumerable<TgiApplications.ViewModels.ServiceTypeVM>
@{
    ViewBag.Title = "Item Service Type";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "CreateServiceType")
</p>
<table class="table table-bordered table-striped" style="width:100%">
    <tr style="background-color:forestgreen;color:white">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
 
        <th>ACTION</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditServiceType", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteServiceType", new { id = item.Id })

            </td>
        </tr>
    }
    <tr>
        <td>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </td>
    </tr>

</table>
